.table {
  background-color: green;
  width: 100%;
  height: 100%;
  position: fixed;
}

button {
  width: 100px;
  border-radius: 5px;
  height: 30px;
}
.table h1 {
  min-height: 40px;
}
.table h1, .choices h1, .title {
  color: white;
}
.player {
  padding: 50px 0;
}
.area {
  height: 330px;
}

.App {
  text-align: center;
}
